name: CI

on:
  pull_request:

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.7.1'
    - name: Install Ruby dependencies
      run: |
        gem install github-pages bundler kramdown

    - name: Check lesson
      run: |
        make lesson-check

    - name: Build site
      run: |
        make site
        ls -lhtra _site/

  docker:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker image
      if: "!(startsWith(github.ref, 'refs/tags/'))"
      uses: docker/build-push-action@v1
      with:
        repository: matthewfeickert/intro-to-docker
        dockerfile: docker/Dockerfile
        tags: test
        tag_with_sha: true
        tag_with_ref: true
        push: false
    - name: List Built Images
      run: docker images
